* {
    box-sizing: border-box;
    margin: 0;
}

button {
    border: 1px solid black;
}
button:hover {
    background-color: antiquewhite;
}

.main-container {
    /*background-color: aqua;*/
    background-image: linear-gradient(to right, pink, lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculator-title {
    width: 450px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
}

.calculator-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
}

.display-container {
    border: 5px solid black;
    background-color: bisque;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-number {
    margin: 10px;
    flex: 1;
}

.bottom-number {
    margin: 10px;
    font-size: 20px;
    flex: 2;
}

.numberpad-container {
    /*border: 1px solid green;*/
    background-color: brown;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}